[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[LayoutSettings]
activities=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
disableBordersForMaximizedWindows=false
icon=
lastUsedActivity=
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
